<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakuten.tech.mobile.perf">

    <application>
        <provider
            android:name="com.rakuten.tech.mobile.perf.runtime.internal.RuntimeContentProvider"
            android:authorities="${applicationId}.RuntimeContentProvider"
            android:exported="false"
            android:initOrder="100" />
        <meta-data android:name="com.rakuten.tech.mobile.perf.DomainUrl"
            android:value="https://perf-config-api-dev-japaneast.azurewebsites.net" />
    </application>
</manifest>
