<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakuten.tech.mobile.perf.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/Theme.AppCompat">
        
        <activity
            android:name="com.rakuten.tech.mobile.perf.example.MainActivity"
            android:label="@string/perftracking_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <meta-data
            android:name="com.rakuten.tech.mobile.perf.debug"
            android:value="false" />

        <meta-data android:name="com.rakuten.tech.mobile.perf.SubscriptionKey"
            android:value="8775d40c7cf94ecb80d90ec5d4afe1c8" />

    </application>

</manifest>